@font-face {
  font-family: "Proxima Nova Condensed";
  src: url(/assets/fonts/proximanovacond_regular.ttf);
}
@font-face {
  font-family: "Proxima Nova Condensed Bold";
  src: url(/assets/fonts/proximanovacond_bold.ttf);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/assets/fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/assets/fonts/proximanova_bold.otf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.container {
  margin: 0 335px;
}
.container .header {
  margin: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header__logo {
  cursor: pointer;
}
.container .header__hav {
  display: flex;
}
.container .header__hav .header__nav-item {
  cursor: pointer;
  color: #444444;
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}
.container .header__hav .header__nav-item:last-child {
  margin-right: 0;
}
.container .header__hav .header__nav-item:hover {
  color: #A30C33;
}
.container .banner {
  background-image: url("/assets/img/bg.jpg");
  padding: 158px 471px 158px 70px;
  background-repeat: no-repeat;
}
.container .banner__text {
  font-size: 56px;
  line-height: 100%;
  color: #444444;
  margin-bottom: 60px;
}
.container .banner__btn {
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 18px 28px;
  background-color: #B01736;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.container .banner__btn:hover {
  background: #D43152;
}
.container .stats {
  margin: 100px 70px;
  padding: 99px 110px;
  background: #FFFFFF;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
}
.container .stats__about {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #444444;
}
.container .numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
}
.container .numbers-item {
  margin: 40px 110px;
}
.container .numbers-item__title {
  font-size: 80px;
  line-height: 80%;
  color: #A30C33;
  opacity: 0.95;
}
.container .numbers-item__text {
  max-width: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #444444;
}
.container .map-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  color: #444444;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
}
.container .map-menu__dropdown-logo {
  cursor: pointer;
  display: flex;
  font-size: 24px;
  line-height: 100%;
}
.container .map-menu__dropdown-logo.active img {
  rotate: 180deg;
}
.container .map-menu__tabs {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  transition: opacity 0.5s ease-in-out;
}
.container .map-menu__tabs.disabled {
  pointer-events: none;
  opacity: 0.1;
}
.container .map-menu__tabs-item {
  margin-right: 30px;
  height: 100%;
  position: relative;
  cursor: pointer;
  color: #444444;
  transition: color 0.3s ease-in-out;
}
.container .map-menu__tabs-item:last-child {
  margin-right: 0;
}
.container .map-menu__tabs-item:hover {
  color: #A30C33;
}
.container .map-menu__tabs-item:after {
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  height: 3px;
  background: #A30C33;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.container .map-menu__tabs-item.active {
  color: #A30C33;
}
.container .map-menu__tabs-item.active:after {
  width: 100%;
}
.container .map-menu__dropdown {
  opacity: 0;
  width: 100%;
  position: absolute;
  z-index: 101;
  top: 100px;
  background-color: #FFFFFF;
  color: #444444;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  transition: opacity 0.5s ease-in-out;
}
.container .map-menu__dropdown.active {
  opacity: 1;
}
.container .map-menu__dropdown__columns {
  display: flex;
  padding: 30px 68.5px;
  justify-content: space-between;
}
.container .map-menu__dropdown__column {
  color: #444444;
}
.container .map-menu__dropdown__column-header {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 600;
}
.container .map-menu__dropdown__column-p {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
.container .map-view {
  background-image: url("/assets/img/map.svg");
  background-repeat: no-repeat;
  width: 100%;
  margin: 90px 30px 100px 30px;
  height: 610px;
  transition: opacity 0.5s ease-in-out;
}
.container .map-view .map-view__cities {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.container .map-view .map-view__cities.active {
  opacity: 1;
  display: block;
}
.container .map-view.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
